
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 20px;
}

.resume {
    max-width: 800px;
    margin: auto;
    border: 1px solid #b3b607;
    padding: 20px;
    border-radius: 10px;
    background: hsla(0, 68%, 35%, 0);color: #000000;
    background-color: #8ad9f8;
}

header {
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    color: #000000;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #47a0e9;
    color: rgb(7, 1, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0ba331;
}

/* Responsive Design */
@media (max-width: 600px) {
    .resume {
        padding: 10px;
    }

    .profile-pic {
        width: 100px;
    }
}